/advanced-computer-architectures/*
!/advanced-computer-architectures/notes
!/advanced-computer-architectures/README.md
!/advanced-computer-architectures/notes/img
/advanced-computer-architectures/notes/*.*
!/advanced-computer-architectures/notes/*.tex
!/advanced-computer-architectures/notes/*.bib
!/advanced-computer-architectures/notes/*.ist
!/advanced-computer-architectures/notes/*.pdf



/applied-statistics/*
!/applied-statistics/notes
!/applied-statistics/README.md
/applied-statistics/notes/*
!/applied-statistics/notes/img/
!/applied-statistics/notes/code/
/applied-statistics/notes/*.*
!/applied-statistics/notes/*.tex
!/applied-statistics/notes/*.bib
!/applied-statistics/notes/*.ist
!/applied-statistics/notes/*.pdf



/calcolo-numerico/*
!/calcolo-numerico/notes
/calcolo-numerico/notes/*.*
!/calcolo-numerico/notes/*.tex
!/calcolo-numerico/notes/*.pdf



/code-transformation-and-optimization/*
!/code-transformation-and-optimization/notes
/code-transformation-and-optimization/notes/*.*
!/code-transformation-and-optimization/notes/*.tex
!/code-transformation-and-optimization/notes/*.pdf



/computing-infrastructures/*
!/computing-infrastructures/notes
/computing-infrastructures/notes/*.*
!/computing-infrastructures/notes/*.tex
!/computing-infrastructures/notes/*.pdf



/foundations-of-operations-research/*
!/foundations-of-operations-research/notes
/foundations-of-operations-research/notes/*.*
!/foundations-of-operations-research/notes/*.tex
!/foundations-of-operations-research/notes/*.pdf



/quantum-physics/*
!/quantum-physics/notes
/quantum-physics/notes/*.*
!/quantum-physics/notes/*.tex
!/quantum-physics/notes/*.pdf



/software-engineering-for-hpc/*
!/software-engineering-for-hpc/notes
/software-engineering-for-hpc/notes/*.*
!/software-engineering-for-hpc/notes/*.tex
!/software-engineering-for-hpc/notes/*.pdf