.idea

# exclude folder notes and files: README, CHANGELOG
/*/*
!/*/notes
!/*/README.md
!/*/CHANGELOG.md
!/docs/index.html

# into notes folder, exclude folders:
#   - img
#   - code
#   - sections
/*/notes/*
!/*/notes/img
!/*/notes/code
!/*/notes/sections

# into notes folder, exclude files tex, bib, ist, pdf
/*/notes/*.*
!/*/notes/*.tex
!/*/notes/*.bib
!/*/notes/*.ist
!/*/notes/*.pdf

# remove aux and tikz files
/*/notes/**/*.fdb_latexmk
/*/notes/**/*.fls
/*/notes/**/*.log
/*/notes/**/*.aux
